-# frozen_string_literal: true
%h3 Post a Comment

= form_for [ @article, @comment ] do |f|  
  .uk-input
  = f.text_field :author_name
  = f.label :author_name, "your name"
  
  .uk-textarea
  = f.text_field :body
  = f.label :body, "your comment"
  
  = f.submit 'submit'







