- @articles.each do |article|
  .container-fluid
    .row
      .col-md-12
        .row
          .col-md-8
            .row
              .col-md-6
                = link_to 'Edit', edit_article_path(article)
              .col-md-6
                = link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }
            %h3.text-muted.text-center
              = link_to article.title, article_path(article)
          .col-md-4
            %ul
              %li.list-item
                comments:
                - article.comments.size

        .row
          .col-md-12
            %p.lead.text-primary
              = article.body
            - article.comments.each do |comment|
              .card.text-white.bg-info
                %h5.card-header
                  = comment.author_name
                .card-body
                  %p.card-text
                    = comment.body

